%a#show-topic-form.topic-label{"data-target" => "#edit-topics-modal", "data-toggle" => "modal", :type => "button"}
  %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}

#edit-topics-modal.modal{"aria-labelledby" => "edit-topics-modal-label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h4#edit-topics-modal-label.modal-title Edit topics
      .modal-body
        %label.sr-only{:for => "topic-search-form"} Search topics
        %input#topic-search-form.form-control{:type => "text"}
        .container-fluid{:style => "position:relative"}
          #topic-search-results.list-group{:style => "display:none;position:absolute;left:0;right:0;max-height:320px;overflow-y:scroll"}
        - question.topics.each do |topic|
          .container-fluid
            = link_to raw("&times;"), remove_topic_question_url(question, topic_id: topic.id), method: :delete, data: { confirm: "Are you sure?" }, class: "remove-topic-link"
            .topic-label= topic.name
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes

:javascript
  let url = "#{ search_topic_question_url(question) }";
  let xhr;

  $('#topic-search-form').keyup(function(e) {
    if(xhr) { xhr.abort(); }
    let value = e.target.value;
    if(value) {
      xhr = $.get(url, {'q': value});
    } else {
      $('#topic-search-results').hide();
    }
  });
