.row.topic-header
  = image_tag "http://lorempixel.com/256/256/"
  %h3= @topic.name
  %span
    = render "topics/follow_button", topic: @topic
%hr
.row
  .col-md-8
    %h4 Feed
    %hr
    - @topic.questions.each do |question|
      = render "questions/item", question: question
      %hr
  .col-md-4
    About
